<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626275315984-mgsm2bsmhoa61is1onne4ds0pbte007s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626275315984-mgsm2bsmhoa61is1onne4ds0pbte007s</string>
	<key>API_KEY</key>
	<string>AIzaSyAhTDsm6W-nzWF9g3kshEY1037XrTM4qbA</string>
	<key>GCM_SENDER_ID</key>
	<string>626275315984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Cadet.SeniorProject</string>
	<key>PROJECT_ID</key>
	<string>seniorproject-a0e55</string>
	<key>STORAGE_BUCKET</key>
	<string>seniorproject-a0e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:626275315984:ios:6b85ad26a9c1d8f1</string>
	<key>DATABASE_URL</key>
	<string>https://seniorproject-a0e55.firebaseio.com/</string>
</dict>
</plist>
